@model Basic_Project.Models.Sale

@{
    ViewData["Title"] = "Detail_Sale";
}

<center><h1>Sale Deyail</h1></center>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleQnty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleQnty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning btn-sm" asp-action="Update_Sale" asp-route-id="@Model.Id">Update</a> |
    <a class="btn btn-success btn-sm" asp-action="Display_Sale">Back to List</a>
</div>
