@model IEnumerable<Basic_Project.Models.Sale>

@{
    ViewData["Title"] = "Display_Sale";
}

<center><h1>Sale</h1></center>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="DataTableData">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Sold Date
            </th>
            <th>
                Product Quantity
            </th>
            <th>
                Total Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleQnty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a class="btn btn-success btn-sm" asp-action="Update_Sale" asp-route-id="@item.Id">Update</a> |
                    <a class="btn btn-warning btn-sm" asp-action="Detail_Sale" asp-route-id="@item.Id">Detail</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete_Sale" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/DataTable/jquery.dataTables.js"></script>
    <script src="~/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Datatable.js"></script>
}